USE [master]
GO
/****** Object:  Database [DBGasStation]    Script Date: 18.12.2024 22:39:05 ******/
CREATE DATABASE [DBGasStation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBGasStation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBGasStation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBGasStation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBGasStation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBGasStation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBGasStation]
GO
/****** Object:  Table [dbo].[Tbl_Gas]    Script Date: 18.12.2024 22:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Gas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GasType] [varchar](20) NULL,
	[BuyingPrice] [decimal](18, 2) NULL,
	[SellingPrice] [decimal](18, 2) NULL,
	[Stock] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Safe]    Script Date: 18.12.2024 22:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Safe](
	[Amount] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Transaction]    Script Date: 18.12.2024 22:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Transaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LicensePlate] [varchar](10) NULL,
	[GasType] [varchar](20) NULL,
	[Liter] [int] NULL,
	[Price] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
USE [master]
GO
